html, body {
  overflow-x: hidden;
}

.main-menu-wrapper {
  position: relative;
  height: 100%;
  overflow: visible;
}

.scroll-container {
  position: relative;
  height: 100%;


}

.pizza-grid {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.pizza-row, .combo-row, .dessert-row {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.pizza-row img, .combo-row img {
  width: 350px;
  height: auto;
  object-fit: contain;
  border-radius: 30px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.9);
}

.dessert-row img{
  width: 250px;
  height: auto;
  margin-left: 50px;
  object-fit: contain;
  border-radius: 30px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.9);

}

.pizza-info, .combo-info{
  background: rgba(0, 93, 218, 0.9);
  padding: 10px 20px;
  height: 450px;
  width: 350px;
  color: #DEDEDE;
  border-radius: 30px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.dessert-info{
  background: rgba(0, 93, 218, 0.9);
  padding: 10px 20px;
  height: 470px;
  width: 350px;
  color: #DEDEDE;
  border-radius: 30px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.background-text {
  position: absolute;
  z-index: 1;
  opacity: 0.1;
}

.combos-grid{
  position: absolute;
  top: 205vh;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
} 

.desserts-grid{
  position: absolute;
  top: 330vh;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
} 